<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
 <table>
        <tr>
          <td class="p-3">名前</td>
          <td class="p-3"><%= f.label :last_name, "（姓）" %></td>
          <td class="p-3"><%= f.text_field :last_name, class: "form-control", placeholder: "令和" %></td>
          <td class="p-3"><%= f.label :first_name, "（名）" %></td>
          <td class="p-3"><%= f.text_field :first_name, class: "form-control", placeholder: "道子" %></td>
        </tr>
  <tr>
    <td class="p-3">フリガナ</td>
    <td class="p-3"><%= f.label :last_name_kana, "（セイ）" %></td>
    <td class="p-3"><%= f.text_field :last_name_kana, class: "form-control", placeholder: "レイワ" %></td>
    <td class="p-3"><%= f.label :first_name_kana, "（メイ）" %></td>
    <td class="p-3"><%= f.text_field :first_name_kana, class: "form-control", placeholder: "ミチコ" %></td>
  </tr>

  <tr>
    <td class="p-3">メールアドレス</td>
    <td class="p-3"></td>
    <td class="p-3"><%= f.text_field :email, class: "form-control", placeholder: "sample@example.com" %></td>
  </tr>
 
 <tr>
    <td class="p-3">郵便番号（ハイフンなし）</td>
    <td class="p-3"></td>
    <td class="p-3"><%= f.text_field :postal_code, class: "form-control", placeholder: "0000000" %></td>
  </tr>
  
  <tr>
    <td class="p-3">住所</td>
    <td class="p-3"></td>
    <td class="p-3"><%= f.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %></td>
  </tr>
  
  <tr>
    <td class="p-3">電話番号（ハイフンなし）</td>
    <td class="p-3"></td>
    <td class="p-3"><%= f.text_field :telephone_number, class: "form-control", placeholder: "00000000000" %></td>
  </tr>
  
  <tr>
    <td class="p-3">パスワード（６文字以上）</td>
    <td class="p-3"></td>
    <td class="p-3"><%= f.text_field :password, class: "form-control", placeholder: "" %></td>
  </tr>
  
  <tr>
    <td class="p-3">パスワード（確認用）</td>
    <td class="p-3"></td>
    <td class="p-3"><%= f.text_field :password_confirmation, class: "form-control", placeholder: "" %></td>
  </tr>

  <tr>
  <td class="p-3"><td>
  <td class="actions">
    <%= f.submit "新規登録" %>
  </td>
  </tr>
<% end %>

<tr>
  <td class="p-2"></td>
  <td>既に登録済みの方</td>
</tr>
</table>

<table>
<tr>
  <td class="p-3"></td>
  <td class="p-3">
<%= render "public/shared/links" %>からログインしてください。
  </td>
</table>
