
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table>
  <tr>
    <td class="p-3">ログイン</td>
  </tr>
    
  <tr>
  <td class="p-3"></td>
  <td class="p-3">メールアドレス</td>
  <td class="p-3"></td>
  <td class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </td>
  </tr>

  <tr>
  <td></td>
  <td class="p-3">パスワード</td>
  <td class="p-3"></td>
  <td class="field">
    <%= f.password_field :password, autocomplete: "current-password" %>
  </td>
  </tr>

  <tr>
  <td class="p-3"></td>
  <td class="p-3"></td>
  <td class="p-3"></td>
  <td class="actions">
    <%= f.submit "ログイン" %>
  </td>
  </tr>
<% end %>

<tr>
  <td class="p-3"></td>
  <td class="p-3">会員登録がお済みでない方</td>
</tr>
</table>

<table>
  <tr>
  <td class="p-3"></td>
  <td class="p-3"></td>
  <td>
<%= render "public/shared/links" %>から新規登録を行ってください。
  </td>
  </tr>
</table>