<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/fd2e72dca6.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <div class="container">
        <div class="row">
          <div class="col-lg-2 border border-dark">
            <h1>LOGO</h1>
          </div>
          <div class="col-lg-8 text-end">
            <% if customer_signed_in? %>
              <tr>
                <td>
                  <%= link_to "マイページ", public_customers_my_page_path, class: "btn btn-dark" %>
                </td>
                <td>
                  <%= link_to "商品一覧", public_items_path, class: "btn btn-dark" %>
                </td>
                <td>
                  <%= link_to "カート", new_customer_registration_path, class: "btn btn-dark" %>
                </td>
                <td>
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-dark" %>
                </td>
              </tr>
            <% else %>
              <tr>
                <td>
                  <%= link_to "About", about_path %>
                </td>
                <td>
                  <%= link_to "商品一覧", public_items_path %>
                </td>
                <td>
                  <%= link_to "新規登録", new_customer_registration_path %>
                </td>
                <td>
                  <%= link_to "ログイン", new_customer_session_path %>
                </td>
              </tr>
            <% end %>
      </div>
    </div>
    <tr>
    </tr>
    </div>
    </header>
    <%= yield %>
    <footer></footer>
  </body>
</html>
